@import url('https://fonts.cdnfonts.com/css/nahista');
/* CSS Custom Properties */
:root {
  --white: #FFFFFF;
  --blue:  #B8CCF8;
  --l-lav: #F1D4FA;
  --m-lav: #DDC4F7;
  --lav: #A89FE9;
  --orchid: #E9A9E7;
  --lg-pink: #F7B7D9;
  --lred: #FBC8D4;
  --dred: #FB8CAA;
  --champagne: #F7E8D2;
  --dpurple: #9550A3;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dpurple);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

/* .align-ctr {
  text-align: center;
}

.align-rt {
  text-align: right;
}

.smaller {
  font-size: smaller;
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-j-end {
  justify-content: flex-end;
}

.scroll-y {
  overflow-y: scroll;
} */

 .section-heading {
  display: flex;
  background-color: var(--champagne);
  color: var(--dpurple);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
  padding: .6vmin;
  margin:0;
  text-align: center;
  font-size: 2.5vmin;
}
.HomePage {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--lred);
  border-radius: 2vmin;
  width:80vmin;
  height:50vmin;
  padding:2vmin;
  margin-right: 5vmin;
  font-size: 2vmin;
  color: var(--dpurple);
}

.HomePage-display {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: flex-start;
  background-color: var(--orchid);
  border-radius: 2vmin;
  margin:10vmin;
  padding:2vmin;
  height:90vmin;
}
.img-display{
  background-color: var(--blue);
  border-radius: 20vmin;
  margin-right: 30vmin;
}
.img-title{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

 .home-journals {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--lg-pink);
  border-radius: 2vmin;
  height:60vmin;
  padding:2vmin;
} 
h1{
  color:var(--lav);
  font-family: 'Nahista', sans-serif;
  font-size: 8vmin;
  text-shadow:.5vmin .5vmin var(--dpurple);
  margin-left: 15vmin;
}
h4{
  color:var(--lav);
  font-size: 2.5vmin;
  text-shadow:.2vmin .2vmin var(--dpurple);

}

aside {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  background-color: var(--orchid);
  border-radius: 1vmin;
  margin: 2vmin;
  width:80vmin;
  height:50vmin;
}
/*
.form-container {
  padding: 3vmin, 6vmin;
  background-color: var(--m-lav);
  border: .1vmin solid var(--lg-pink);
  border-radius: 1vmin;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.25vmin;
  color: var(--dpurple);
}

label {
  font-size: 2vmin;
  display: flex;
  align-items: center;
} */

/* input {
  padding: 1.5vmin;
  font-size: 4vmin;
  width: 150vmin;
  border: .1vmin solid var(--blue);
  border-radius: .5vmin;
  color: var(--dpurple);
  background-image: none !important; 
  outline: none;
}

input:focus {
  border-color: var(--orchid);
}
textArea {
  padding: 1.5vmin;
  font-size: 3vmin;
  border: .1vmin solid var(--blue);
  border-radius: .5vmin;
  color: var(--dpurple);
  outline: none;
}
textArea:focus {
  border-color: var(--orchid);
}  */

/* input:checkbox {
  border: .1vmin solid var(--blue);
  border-radius: .5vmin;
  color: var(--dpurple);
  outline: none;
}
checkbox:focus {

} */

button, a.button {
  margin: 1vmin;
  padding: 1vmin;
  color: var(--dpurple);
  background-color: var(--blue);
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: .5vmin solid var(--lav);
  border-radius: .5vmin;
  outline: none;
  cursor: pointer;
}
button:hover{
  margin: 1vmin;
  padding: 1vmin;
  color: var(--champagne);
  background-color: var(--dred);
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: .5vmin solid var(--lav);
  border-radius: .5vmin;
  outline: none;
  cursor:pointer;
  transform:scale(1.2);
  transition:100ms;
}

/*
nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height:20%;
} */
 ul {
  list-style-type: none;
  background-color: var(--lred);
  border-radius: 1vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40vmin;
  overflow-y: scroll;
  padding:0;
  margin:0;
}

a:link{
  color: var(--lav);
  text-shadow:.2vmin .2vmin var(--dpurple);
  background-color: var(--blue);
  padding:1vmin;
  margin:1vmin;
  border: .5vmin solid var(--orchid);
  border-radius: 1vmin;
}
a:visited{
  color: var(--lav);
  text-shadow:.2vmin .2vmin var(--dpurple);
  background-color: var(--blue);
  padding:1vmin;
  margin:1vmin;
  border: .5vmin solid var(--orchid);
  border-radius: 1vmin;
}
a:hover{
background-color: var(--dred);
transform:scale(1.2);
transition: 100ms;
} 